@font-face {
    font-family: 'iconfont';  /* project id 2314784 */
    src: url('//at.alicdn.com/t/font_2314784_rjnew630jnp.eot');
    src: url('//at.alicdn.com/t/font_2314784_rjnew630jnp.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_2314784_rjnew630jnp.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_2314784_rjnew630jnp.woff') format('woff'),
    url('//at.alicdn.com/t/font_2314784_rjnew630jnp.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_2314784_rjnew630jnp.svg#iconfont') format('svg');
  }
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-pinglun:before {
    content: "\e63a";
    color:rgb(66, 66, 66)
  }
  
  .icon-wo:before {
    content: "\e663";
    color:rgb(51, 122, 182);
  }
  
  .icon-zan:before {
    content: "\e60b";
    color:rgb(85, 141, 255)
  }